@font-face {
  font-family: 'Podriq';
  src: url("./fonts/Podriq.otf"); }

@font-face {
  font-family: 'Rosarina';
  src: url("./fonts/rosarina.ttf"); }

.c-playlist__header {
  color: white;
  background-color: #18110c;
  margin-bottom: 24px; }
  .c-playlist__header h1 {
    letter-spacing: 4px;
    display: inline-block;
    margin: 12px 0 12px 24px;
    font-size: 2em;
    font-weight: bolder;
    padding-bottom: 3px;
    border-top: 4px solid white;
    border-bottom: 4px solid white; }

.c-playlist {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  color: #4a4a4a; }
  .c-playlist__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column; }
  .c-playlist__content {
    display: flex;
    width: 100%;
    transition: 0.4s width ease-in;
    height: 100vh;
    padding: 0 48px; }
  .c-playlist__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .c-playlist__info-description {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    text-align: center;
    margin-top: 12px; }
  .c-playlist__info-headline {
    font-weight: 600; }
  .c-playlist__subheadline {
    font-weight: 600;
    font-size: 2rem;
    margin-left: 24px; }
  .c-playlist__img {
    width: 100%;
    max-width: 324px;
    margin: 0 auto 48px; }
  .c-playlist__songlist {
    margin: auto;
    width: 70%;
    overflow-y: auto;
    max-height: 90vh; }
  .c-playlist__img-wrapper h1 {
    color: white;
    font-family: 'Graduate', sans-serif;
    font-size: 4em;
    line-height: 1em;
    padding: 12px;
    text-shadow: 1px 1px 2px #4a4a4a;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0; }

.c-playlist ul {
  list-style-type: none; }

.c-playlist__drawer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: white;
  position: relative;
  left: 0;
  border-right: 1px solid #eee; }
  .c-playlist__drawer button {
    width: 36px;
    height: 36px;
    border: none;
    margin: 12px auto;
    cursor: pointer; }

.c-playlist__drawer-entry {
  margin: 24px;
  transition: all 0.2s ease-in-out;
  cursor: pointer; }
  .c-playlist__drawer-entry:hover {
    transform: scale(1.1);
    box-shadow: 0px 6px 24px #d9d9d9; }
  .c-playlist__drawer-entry img {
    padding: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 224px;
    max-height: 224px; }

.c-song {
  display: flex;
  align-items: center;
  background: white;
  position: relative;
  transition: 0.2s all ease-in-out;
  perspective: 500px;
  margin: 0 auto;
  width: 90%;
  padding: 12px 6px;
  text-decoration: none;
  color: #4a4a4a; }
  .c-song:not(:last-child) {
    border-bottom: 1px solid #d9d9d9; }
  .c-song:hover {
    transform: translate3d(2px, 0, 60px);
    box-shadow: 0px 4px 16px #d9d9d9;
    z-index: 10; }

.c-song__album-image {
  max-height: 48px;
  margin: 0 24px; }

.c-song__status-icon {
  width: 12px; }
  .c-song__status-icon path {
    stroke: #18110c;
    fill: #18110c; }

.c-song__info {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-overflow: ellipsis; }
  .c-song__info h3, .c-song__info h5, .c-song__info h6 {
    width: 33%; }
  .c-song__info h3 {
    font-size: 12px;
    margin: 0 60px; }
  .c-song__info h5, .c-song__info h6 {
    font-size: 12px;
    margin: 0 60px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

#root {
  height: 100vh; }

.site-wrapper {
  height: 100vh;
  margin: 0 auto;
  font-family: "Source Sans Pro", sans-serif; }
