.c-playList
  display: flex
  flex-direction: column
  justify-content: space-around
  margin: 0 auto
  align-items: center
  color: $charcoal

  &__content
    display: flex
    width: 100%
    transition: 0.4s width ease-in

  &__drawer
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: center
    background: white
    position: relative
    left: 0
    border-right: 1px solid $lightGray
    background: linear-gradient(to bottom, rgb(113, 183, 228), #4a4a4a)
    &--is-collapsed
    button
      width: 36px
      height: 36px
      border: none
      margin: 12px auto
      cursor: pointer
      img
        width: 100%
        height: 100%

  &__drawer-entry
    margin: 24px
    transform: scale(1)
    // box-shadow: 0px 2px 10px #d9d9d9
    transition: all 0.2s ease-in-out
    @media only screen and (max-width: $tablet)
      max-width: 240px
      max-height: 240px
    &:hover
      transform: scale(1.1)
      box-shadow: 0px 6px 24px #d9d9d9
    a
      img
        max-width: 240px
        max-height: 240px


  &__wrapper
    width: 100%
    display: flex
    flex-direction: column
    // height: 100vh

  &__img-wrapper
    background: #f5f8f7
    display: flex
    width: 40%
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 48px

  &__img
    max-width: 360px
    max-height: 360px


  &__songList
    width: 60%
    margin-left: 24px
    overflow-x: visible

  &__img-wrapper h1
    font-size: 5em
    margin: 12px auto
    font-family: 'Podriq','Leafy', sans-serif
    text-align: center
    position: relative
    z-index: 0

  &__songList
    overflow-y: auto
    width: 60%
    img
      max-height: 25px

  &__songList li:nth-child(2n+1)
    background: $shadowGray

.c-playList ul
  list-style-type: none

.c-playList ul li a
  display: flex
  align-items: center
  padding: 6px
  text-decoration: none
  color: $charcoal
