@font-face {
  font-family: 'Podriq';
  src: url("./fonts/Podriq.otf"); }

@font-face {
  font-family: 'Rosarina';
  src: url("./fonts/rosarina.ttf"); }

@font-face {
  font-family: 'Leafy';
  src: url("./fonts/leafy.otf"); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

#root {
  height: 100vh; }

.site-wrapper {
  height: 100vh;
  max-width: 1260px;
  margin: 0 auto;
  font-family: 'Leafy', 'Source Sans Pro', sans-serif; }

.playList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  color: #444;
  /*max-width: 680px*/ }
  .playList__nav {
    width: 100%;
    display: flex;
    max-height: 200px;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
    justify-content: center; }
    .playList__nav a {
      transform: scale(1);
      transition: transform 0.2s; }
      .playList__nav a:hover {
        transform: scale(1.1); }
    .playList__nav img {
      max-height: 64px; }
  .playList__wrapper {
    width: 100%;
    display: flex; }
  .playList__img {
    width: 256px;
    height: 256px; }
  .playList__img-wrapper {
    background: #f5f8f7;
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
    max-height: 600px; }
  .playList__songList {
    width: 66%; }
  .playList__img-wrapper h1 {
    font-size: 4em;
    margin: 24px auto;
    font-family: 'Leafy', sans-serif;
    text-align: center; }
  .playList__songList img {
    max-height: 25px; }
  .playList__songList li:nth-child(2n+1) {
    background: #f1f1f1; }

.playList ul {
  list-style-type: none;
  max-height: 600px;
  overflow-y: auto; }

.playList ul li {
  display: flex;
  align-items: center;
  padding: 6px; }

.songInfo {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%; }

.songInfo h3, .songInfo h5, .songInfo h6 {
  width: 33%; }

.songInfo h3 {
  font-size: 12px;
  margin: 0 60px; }

.songInfo h4, .songInfo h5 {
  font-size: 10px;
  margin: 0 60px; }
