@font-face
  font-family: 'Podriq'
  src: url('./fonts/Podriq.otf')
@font-face
  font-family: 'Rosarina'
  src: url('./fonts/rosarina.ttf')
@font-face
  font-family: 'Leafy'
  src: url('./fonts/leafy.otf')

*
  padding: 0
  margin: 0
  box-sizing: border-box

#root
  height: 100vh

.site-wrapper
  height: 100vh
  max-width: 1260px
  margin: 0 auto
  font-family: 'Leafy', 'Source Sans Pro', sans-serif


.playList
  height: 100%
  display: flex
  justify-content: space-around
  margin: 0 auto
  align-items: center
  color: #444
  /*max-width: 680px*/


.playList .playList__img
  width: 500px
  height: 500px


.playList ul
  list-style-type: none
  width: 80%
  padding: 20px
  max-height: 75vh
  overflow-y: auto



.playList ul li
  display: flex
  /*justify-content: space-around*/
  align-items: center
  margin: 12px auto
  padding: 6px
  border-bottom: 1px solid #f6f6f6


.playList .playList__img-wrapper
  background: #f5f8f7
  height: 100%
  width: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 48px


.playList .playList__img-wrapper h1
  font-size: 6em
  margin: 24px auto
  font-family: 'Leafy', sans-serif

.playList ul li img
  max-height: 25px


.playList ul li .songInfo
  font-family: 'Source Sans Pro', sans-serif
  display: flex
  justify-content: space-between
  align-items: stretch
  width: 100%


.songInfo h3
  font-size: 12px
  margin: 0 60px

.songInfo h4, .songInfo h5
  font-size: 10px
  margin: 0 60px
