@font-face {
  font-family: 'Podriq';
  src: url("./fonts/Podriq.otf"); }

@font-face {
  font-family: 'Rosarina';
  src: url("./fonts/rosarina.ttf"); }

@font-face {
  font-family: 'Leafy';
  src: url("./fonts/leafy.otf"); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

#root {
  height: 100vh; }

.site-wrapper {
  height: 100vh;
  max-width: 1260px;
  margin: 0 auto;
  font-family: 'Leafy', 'Source Sans Pro', sans-serif; }

.playList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
  color: #444;
  /*max-width: 680px*/ }
  .playList__nav {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    max-height: 200px;
    background: rgba(241, 174, 59, 0.6);
    width: 100%;
    justify-content: center; }
    .playList__nav img {
      max-height: 64px; }
  .playList__wrapper {
    width: 100%;
    display: flex; }

.playList .playList__img {
  width: 256px;
  height: 256px; }

.playList ul {
  list-style-type: none;
  padding: 20px;
  max-height: 600px;
  overflow-y: auto; }

.playList ul li {
  display: flex;
  /*justify-content: space-around*/
  align-items: center;
  padding: 6px; }

.playList .playList__img-wrapper {
  background: #f5f8f7;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 48px;
  max-height: 600px; }

.playList__songList {
  width: 66%; }

.playList .playList__img-wrapper h1 {
  font-size: 6em;
  margin: 24px auto;
  font-family: 'Leafy', sans-serif;
  text-align: center; }

.playList__songList img {
  max-height: 25px; }

.playList__songList li:nth-child(2n+1) {
  background: #f1f1f1; }

.playList ul li .songInfo {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%; }

.songInfo h3 {
  font-size: 12px;
  margin: 0 60px; }

.songInfo h4, .songInfo h5 {
  font-size: 10px;
  margin: 0 60px; }
